<?xml version="1.0" encoding="UTF-8"?>
<configuration  scan="true" scanPeriod="30 seconds" debug="false">
    <contextName>logback</contextName>

    <!-- 日志目录，applog为默认值。
         如果运维需要指定目录统一存放，那么需要在启动时传入此值: -Dlog.path=/data/apps/logs/vclecturer，
    -->
    <property name="LOGPATH" value="${log.path:-/ideaWorkSpace/srpingboot-demo/applog}"/>

    <property name="CONSOLE_LOG_PATTERN"
              value="%date{HH:mm:ss.SSS} %highlight(%-5level) %boldYellow(%thread) %cyan(%logger{32}).%green(%L) %magenta(-) %msg%n"/>
    <property name="FILE_LOG_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] %logger{32}.%L - %msg%n"/>

    <!--输出到控制台-->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!--输出到文件 - INFO 日志 - 按天生成日志-->
    <appender name="logFile"  class="ch.qos.logback.core.rolling.RollingFileAppender">
        <Prudent>true</Prudent>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>info</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>
                ${LOGPATH}/n_%d{yyyy-MM-dd}.log
            </FileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>${FILE_LOG_PATTERN}</Pattern>
        </layout>
    </appender>
    <!-- 输出到文件 - error/warn 日志 - 按天生成日志 -->
    <appender name="errLogFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <!-- 临界点判断，小于warn的不会被记录 -->
            <level>WARN</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>
                ${LOGPATH}/err/e_%d{yyyy-MM-dd}.log
            </FileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>${FILE_LOG_PATTERN}</Pattern>
        </layout>
    </appender>
    <!--输出到文件 - sql stmt 日志 - 按天生成日志-->
    <appender name="sqlStmtFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <Prudent>true</Prudent>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>debug</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>
                ${LOGPATH}/q_%d{yyyy-MM-dd}.log
            </FileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>${FILE_LOG_PATTERN}</Pattern>
        </layout>
    </appender>

    <!-- additivity:t 不止会在自己的appender里输出，还会在父的appender里输出 -->
    <logger name="com.xmj.springbootdemo.mapper" level="debug" additivity="true">
        <appender-ref ref="sqlStmtFile"/>
    </logger>

    <!-- 继承root appender -->
    <logger name="com.xmj.springbootdemo" level="info"/>

    <root level="info">
        <appender-ref ref="console"/>
        <appender-ref ref="logFile" />
        <appender-ref ref="errLogFile" />
    </root>

</configuration>
